<div class="jumbotron">
  <h2>Voici la team qui a conçu ce magnifique site de potins!</h2>
  <p class="lead">Moussaillons de la session 7:</p>
  <hr class="my-4">
  <p>Jonathan Gaultier</p>
  <p>Rémi Auzou</p>

</div>
