<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Bienvenue <%= params[:user_entry].capitalize %> !</h1>
    <p class="lead">Voici notre site de potins en mode discret</p>
  </div>
</div>
